:root {
  --highlight:  rgb(251, 255, 0);
  --black: rgb(27, 27, 27);
  --dark-gray: #808082;
  --light-gray: #eee;
  --link: blue;
  --mono-fonts: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--black);
  line-height: 1.75;
}
blockquote {
  margin: 1.2em 2em 1.2em 0;
  padding-left: 2em;
  border-left: 1px solid #D0D8E0;
}
code {
  padding: 0.125em 1em;
  font-family: var(--mono-fonts);
}
hr { 
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--link);
  box-shadow: inset 0 -2px var(--highlight);
}
a:visited {
  color: var(--link);
}
a:hover {
  background-color: var(--highlight);
  box-shadow: none;
}
.fade {
  color: var(--dark-gray);
}
.mono {
  font-family: var(--mono-fonts);
  text-transform: uppercase;
}

/** Container **/
main {
  padding: 0 10px;
  max-width: 36rem;
  margin: 0 auto;
}

/** Header **/
header {
  display: flex;
  padding: 15px 10px;
  max-width: 36rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header a {
  color: var(--dark-gray);
}
header a:visited {
  color: var(--dark-gray);
}

/** Navigation **/
nav {
  display: inline-block;
  color: var(--light-gray);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav li {
  display: inline;
}

nav li::before{
  content: " /";
}

/** Content **/
article img {
  max-width: 100%;
}
article h1 {
  /** https://stackoverflow.com/questions/39547412/same-font-size-for-h1-and-h2-in-article */ 
  font-size: 2em;
}

/** Footnotes **/
hr.footnotes-sep {
  display: none;
}
section.footnotes {
  border-top: 1px solid var(--light-gray);
}
ol.footnotes-list {
  padding-inline-start: 20px;
}

/** Footer **/
footer {
  margin: 70px auto;
  padding: 0 10px;
  max-width: 36rem;
  color: var(--light-gray);
}
footer a {
  color: var(--dark-gray);
}
footer a:visited {
  color: var(--dark-gray);
}

/** Posts list **/
.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.postyear {
  display: flex;
}
.postlist-date {
  font-size: 14px;
}
.postlist-year {
  font-size: 14px;
  margin-top: 2px;
  margin-right: 20px;
}
ul.postlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.postlist li {
  margin-bottom: 10px;
}
.posttag-list {
  margin-left: 5px;
}
.posttag {
  background-color: var(--light-gray);
  font-size: 12px;
  padding: 3px 5px;
  margin-left: 5px;
  color: var(--dark-gray);
  border-radius: 7px;
}
.posttag a {
  color: var(--dark-gray);
  box-shadow: none;
}
.posttag a:hover {
  color: var(--link);
  background-color: var(--light-gray);
}

/** Projects **/
.project {
  display: flex;
}
.project-icon {
  flex: 0 0 75px;
  margin-right: 45px;
}

/** Home sections **/
section {
  margin: 30px 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-gray);
}
section img {
  max-width: 140%;
  transform: translateX(-10%);
}
@media only screen and (max-width: 600px) {
  section img {
    /* Remove parent padding */
    margin-left: -10px;
    max-width: calc(100% + 20px);
    transform: none;
  }
}

.caption small {
  color: var(--dark-gray); 
}
.caption a {
  color: var(--dark-gray); 
  box-shadow: none;
}
