:root {
  --bg-black: #0c1216;
  --white: #ededed;
  --green: rgb(72, 213, 151);
  --yellow: rgb(245, 207, 101);
  --dark-yellow: #b58d1f;
  --bg-yellow: #4a4433;
  --bg-gray: #272a1f;
  --dark-green: #1f4a42;
  --text-gray: rgb(150, 154, 156);
  --mono-fonts: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --sans-fonts: "Libre Franklin", -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: var(--sans-fonts);
  color: var(--white);
  line-height: 1.75;
  background-color: var(--bg-black);
}

blockquote {
  color: var(--text-gray);
  margin: 1.2em 2em 1.2em 0;
  padding-left: 1em;
  border-left: 5px solid var(--bg-gray);
}

code {
  padding: 0.125em 1em;
  font-family: var(--mono-fonts);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--bg-gray);
  margin: 1.5em 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--green);
  box-shadow: inset 0 -2px var(--dark-green);
}

a:visited {
  color: var(--green);
}

a:hover {
  background-color: var(--dark-green);
  box-shadow: none;
}

.fade {
  color: var(--text-gray);
}

.mono {
  font-family: var(--mono-fonts);
}

pre {
  border-radius: 4px;
}

/** Container **/
main {
  padding: 0 10px;
  max-width: 36rem;
  margin: 0 auto;
}

/** Header **/
header {
  display: flex;
  padding: 15px 10px 25px 10px;
  max-width: 36rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header a,
header a:visited {
  color: var(--yellow);
  box-shadow: none;
}

header a:hover {
  background-color: var(--dark-green);
  box-shadow: none;
}

/** Navigation **/
nav {
  display: inline-block;
  color: var(--bg-yellow);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

nav li {
  display: inline;
  margin-left: 7px;
}

nav li a,
nav li a:visited {
  color: var(--dark-yellow);
}

nav li::before {
  content: " /";
}

/** Content **/
article img {
  max-width: 100%;
}

article h1 {
  /** https://stackoverflow.com/questions/39547412/same-font-size-for-h1-and-h2-in-article */
  font-size: 2em;
  margin-bottom: 0.25em;
  border-bottom: 1px solid var(--bg-gray);
}

.post-title {
  margin-bottom: 2em;
}

.post-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

/** Footnotes **/
hr.footnotes-sep {
  display: none;
}

section.footnotes {
  border-top: 1px solid var(--bg-gray);
}

ol.footnotes-list {
  padding-inline-start: 20px;
}

/** Footer **/
footer {
  margin: 70px auto;
  padding: 0 10px;
  max-width: 36rem;
  color: var(--bg-yellow);
  font-size: 14px;
}

footer a,
footer a:visited {
  color: var(--dark-yellow);
  box-shadow: none;
}

footer a:hover {
  background-color: var(--bg-yellow);
  box-shadow: none;
}

/** Posts list **/
.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.postyear {
  display: flex;
}

.postlist-date {
  font-size: 14px;
}

.postlist-year {
  font-size: 14px;
  margin-top: 2px;
  margin-right: 20px;
}

ul.postlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.postlist li {
  margin-bottom: 10px;
}

a.postlist-link {
  margin-right: 8px;
}

.posttag {
  font-family: var(--mono-fonts);
  background-color: var(--bg-gray);
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 5px;
  color: var(--text-gray);
  border-radius: 7px;
}

.posttag a,
.posttag a:visited {
  color: var(--text-gray);
  box-shadow: none;
}

.posttag a:hover {
  color: var(--yellow);
  background-color: var(--bg-yellow);
}

.posttag:hover {
  background-color: var(--bg-yellow);
}

.posttag-rec,
.posttag-rec:hover {
  background-color: var(--dark-yellow);
  color: var(--bg-black);
}

/** Projects **/
.project {
  display: flex;
}

.project-icon {
  flex: 0 0 75px;
  margin-right: 45px;
}

/** Home sections **/
section {
  margin: 30px 0;
  padding: 15px 0;
  border-bottom: 1px solid var(--bg-gray);
}

section img {
  max-width: 140%;
  transform: translateX(-10%);
}

@media only screen and (max-width: 600px) {
  section img {
    /* Remove parent padding */
    margin-left: -10px;
    max-width: calc(100% + 20px);
    transform: none;
  }
}

.caption small {
  color: var(--text-gray);
}

.caption a {
  color: var(--text-gray);
  box-shadow: none;
}

.caption a:hover {
  background-color: var(--bg-gray);
}

h1,
h2,
h3,
h4 {
  color: var(--yellow);
  font-weight: normal;
  line-height: 1.25;
  font-family: 'Arvo', 'Maiden Orange';
  margin-block-start: 1.2em;
}

a.feed-link,
a.feed-link:visited {
  color: var(--dark-yellow);
  box-shadow: inset 0 -2px var(--bg-yellow);
  font-size: 14px;
}

a.feed-link:hover {
  background-color: var(--bg-yellow);
  box-shadow: none;
}

a.header-anchor {
  font-size: 75%;
}

/** Podcast **/
.tsgr__header {
  margin: 30px 0;
}

.tsgr__header img {
  width: 300px;
  border-radius: 6px;
}

.tsgr__controls {
  padding: 40px 0 0;
  margin: 20px 0;
  color: var(--dark-yellow);
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.tsgr__controls label {
  margin-right: 7px;
}

.tsgr__item {
  border-top: 1px var(--bg-gray) solid;
  padding: 20px 0 0;
  margin: 20px 0;
}

.tsgr__item .info {
  color: var(--text-gray);
}

.tsgr__item details>summary {
  font-size: 14px;
  list-style: none;
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-gray)
}

.tsgr__item details>summary::-webkit-details-marker {
  display: none;
}

.tsgr__item audio {
  margin: 25px 0;
  width: 100%;
}