:root {
  --highlight:  rgb(251, 255, 0);
  --black: rgb(47, 47, 47);
  --gray: #666;
  --link: blue;
  --mono-fonts: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
html {
  margin: 0;
}
body {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  font-family: -apple-system, system-ui, sans-serif;
  color: --black;
}
p, li, td, th, dt, dd, cite, blockquote, label, legend {
  line-height: 1.75;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h2.mono {
  font-family: var(--mono-fonts);
  font-weight: normal;
  text-transform: uppercase;
  font-size: smaller;
  color: var(--gray);
}
blockquote {
  margin: 1.2em 2em 1.2em 0;
  padding-left: 2em;
  border-left: 1px solid #D0D8E0;
}
code {
  padding: 0.125em 1em;
  font-family: var(--mono-fonts);
}
a {
  text-decoration: none;
  color: var(--link);
  box-shadow: inset 0 -2px var(--highlight);
}
a:visited {
  color: var(--link);
}
a:hover {
  background-color: var(--highlight);
  box-shadow: none;
}
.fade {
  color: var(--gray);
}

/** Container **/
body .page {
  padding-top: 24px;
  max-width: 36rem;
  margin: 0 auto;
}

/** Header **/
header {
  margin: 0 auto;
}
header h1 {
  font-size: 16px;
  display: inline-block;
}
header h1 a,
header h1 a:visited {
  color: var(--black);
}

/** Navigation **/
nav {
  display: inline-block;
}
nav ul {
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav li {
  display: inline;
}

/** Content **/
.content img,
.content iframe {
  max-width: 100%;
}

/** Footer **/
footer {
  margin: 70px auto;
  max-width: 36rem;
}

/** Posts list **/
ul.postlist {
  list-style: none;
  padding: 0;
}
ul.postlist li {
  margin: 15px 0;
}

/** Projects **/
.project {
  display: flex;
}
.project-icon {
  flex: 0 0 75px;
  margin-right: 20px;
}