.tsgr__header {
  margin: 30px 0;
}
  .tsgr__header img {
    width: 300px;
    border-radius: 6px;
  }

.tsgr__controls {
  padding: 20px 0 0;
  margin: 20px 0;
}

.tsgr__item {
  border-top: 3px #ddd solid;
  padding: 20px 0;
  margin: 20px 0;
}
  .tsgr__item details > summary {
    list-style: none;
  }
  .tsgr__item details > summary::-webkit-details-marker {
    display: none;
  }
  .tsgr__item audio {
    margin: 10px 0;
    width: 100%;
  }