---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="content">
{% include "intro.njk" %}
</section>

<section class="content">
<h2>Projects</h2>
{% include "projects.njk" %}
</section>

<section class="content">
<h2>Posts</h2>
{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
</section>