---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section>
  {% include "homephoto.njk" %}
</section>

<section>
  {% include "intro.njk" %}
</section>

{# <section>
  <h2>Latest post</h2>
  {% set postslist = collections.posts | head(-1) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</section> #}

{# <section>
  <h2>Projects</h2>
  {% include "projects.njk" %}
</section> #}

<section>
  <div class="posts-header">
    <h2>Writing</h2><a class="feed-link" href="/feed/feed.xml">feed</a>
  </div>
  {% set postslist = collections.posts | head(-50) %}
  {% include "postslist.njk" %}
</section>

<section>
  <div class="posts-header">
    <h2>Writing</h2><a class="feed-link" href="/feed/feed.xml">feed</a>
  </div>
  {% set postslist = collections.githubIssues | head(-50) %}
  {% include "postslist.njk" %}
</section>
