---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section>
  {% include "homephoto.njk" %}
</section>

<section>
  {% include "intro.njk" %}
</section>

{# <section>
  <h2>Latest post</h2>
  {% set postslist = collections.posts | head(-1) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</section> #}

<section>
  <h2>Projects</h2>
  <div><a href="/tsgr">The Startup Green Room</a></div>
  {# {% include "projects.njk" %} #}
</section>

<section>
  <div class="posts-header">
    <h2>Posts</h2><a class="fade" href="/feed/feed.xml">feed</a>
  </div>
  {% set postslist = collections.posts | head(-10) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</section>