---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---

<main style="text-align: center;">
<h1>Mansi & Arjun</h1>
<p><img src="/img/m&a.jpeg" style="width: 100%;" alt="Mansi & Arjun" /></p>
<p>Stream starts 11 am, December 10, 2020 (<a href="https://www.timeanddate.com/time/zones/ist">IST</a>)</p>
</main>