<p>Hi, I'm Arjun. 👋</p>
<p>
  Until recently, I was working at <a href="https://100ms.live">100ms</a>, where we build
  infrastructure for live, interactive video. The Internet matches opportunity with
  aspiration, and we enable more of that with video: connect students with teachers,
  patients to doctors, and bring like-minded community members together.
</p>

<p>
  I <a href="https://www.linkedin.com/in/arjunattam/">have built</a> and love building
  products for developers. As software “eats the world”, I believe developers have an
  opportunity to create immense value—and empowering them to do more drives me to work everyday.
</p>

<p>
  I’m a builder at heart, and have shipped side-projects like <a href="https://github.com/covid-maps/covid-maps">Covid Maps</a>
  (featured on <a href="https://techcrunch.com/2020/04/14/grocery-pharmacy-stores-open-india-lockdown/">TechCrunch</a>, <a href="https://yourstory.com/2020/04/coronavirus-techies-startups-collaboration-delivery-essentials">YourStory</a> and <a href="https://www.citynews1130.com/video/2020/04/02/web-based-app-provides-map-of-essentials/">CityNews</a>), <a href="https://www.rubberduck.io">Rubberduck</a>,
  <a href="https://github.com/karigari/vscode-chat">VS Code Chat</a>, and the <a href="https://startupgreenroom.com">Startup Green Room</a> podcast.
</p>
<p>
  If there's a way I can help, feel free to reach out. I'm available at
  <a href="mailto:arjun@attam.in">arjun@attam.in</a>, or on
  <a href="https://twitter.com/arjunattam/">Twitter DMs</a>.
</p>
