<p>Hi, I'm Arjun. 👋</p>
<p>
  I'm a product manager at Microsoft, where I build products for millions of
  developers. My work enables developers to create value for their users, and
  with every company becoming a tech company, the outcomes are nothing short of
  magic.
</p>
  I've built side-projects like <a href="https://github.com/covid-maps/covid-maps">Covid Maps</a>
  (featured on <a href="https://techcrunch.com/2020/04/14/grocery-pharmacy-stores-open-india-lockdown/">TechCrunch</a>, <a href="https://yourstory.com/2020/04/coronavirus-techies-startups-collaboration-delivery-essentials">YourStory</a> and <a href="https://www.citynews1130.com/video/2020/04/02/web-based-app-provides-map-of-essentials/">CityNews</a>), <a href="https://www.rubberduck.io">Rubberduck</a>, and <a href="https://github.com/karigari/vscode-chat">Team Chat</a>. I also host <a href="https://startupgreenroom.com">the Startup Green
  Room</a> podcast to showcase the best operators in the Indian startup
  ecosystem.
</p>
<p>
  If there's a way I can help, feel free to reach out. I'm available at
  <a href="mailto:arjun@attam.in">arjun@attam.in</a>, or on
  <a href="https://twitter.com/arjunattam/">Twitter DMs</a>.
</p>
