<img src="/img/arjun.jpg" width="200" alt="Arjun Attam" />

<p>Hello, world! My name is Arjun. 👋</p>
<p>
  I'm a product manager at Microsoft, where I work on developer tools and 
  services. With every company becoming a software company, I believe making 
  developers productive creates a lot of value, and I enjoy working with them. 
  Before joining Microsoft, I built <a href="https://www.rubberduck.io">Rubberduck</a>
  and <a href="https://github.com/karigari/vscode-chat">Team Chat</a> to explore
  how developers collaborate, and I'm now applying these learnings at scale.
</p>
<p>
  On the side, I host <a href="https://startupgreenroom.com">the Startup Green
  Room</a> podcast, to showcase the best operators in the Indian startup
  ecosystem. I've learnt and grown by building startups in India, and this
  podcast is my way to stay connected and contribute to the ecosystem.
</p>
<p>
  If there's a way I can help, feel free to reach out. I'm available at
  arjun@attam.in, or on <a href="https://twitter.com/arjunattam/">Twitter</a> DMs.
</p>