{% set groupedposts = postslist | groupPostsByYear %}

{% for year in groupedposts | keys | reverse %}
  <div class="postyear">
    <h4 class="mono">{{ year }}</h2>

    {% set posts = groupedposts[year] %}
    <ul class="postlist">

    {% for post in posts | reverse %}
      <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
        <div>
          <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
          <time class="fade postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
      </li>
    {% endfor %}

    </ul>
  </div>
{% endfor %}
