
{% for project in projects %}
<div class="project">
  <div class="project-icon">
    <img src="{{ project.icon }}" />
  </div>
  <div>
    <div><strong>{{ project.name }}</strong> <span class="fade">{{ project.category }}</span></div>
    <p>{{ project.description }}</p>
    <p>
      {% for link in project.links %}
        <a href="{{ link.href }}">{{ link.name }}</a> •
      {% endfor %}
    </p>
  </div>
</div>
{% endfor %}
