---
---

// $background-color: #1d1d1d; /* a dark, off-black for the bg */
// $text-color: #e6e6e6; /* an off-white for the text */
// $grey-color-light: #565656; /* for the border-top separators */
// $grey-color-dark: #adadad; /* such as the site title in the header, visited */

@import "minima";

a {
    text-decoration: underline;
    color: rgb(56, 76, 255);
}

a:visited {
    color: #5d2ba6;
}

h1, h2, h3, h4, h5, h6 {
    font-size: $base-font-size;
    font-weight: bold;
}

body {
    min-height: 0;
}

.site-header {
    border-bottom: none;
    padding-top: 35px;
    min-height: 25px;
}

.site-footer {
    border-top: none;
    padding: 0;
}

.footer-col-wrapper {
    border-top: 3px solid #f3f4fa;
    margin-top: 30px;
    padding: 20px 0;
    font-size: 14px;
}

.title a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(56, 76, 255);
}

.title a.extra {
    margin-left: 15px;
    color: rgb(176, 177, 181);
}

.title a:hover {
    color: black;
}

.post-title {
    font-size: $base-font-size;
    letter-spacing: 0;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-size: $base-font-size;
}

blockquote {
    font-size: $base-font-size;
    letter-spacing: 0;
    font-style: normal;
}