---
---

// $background-color: #1d1d1d; /* a dark, off-black for the bg */
// $text-color: #e6e6e6; /* an off-white for the text */
// $grey-color-light: #565656; /* for the border-top separators */
// $grey-color-dark: #adadad; /* such as the site title in the header, visited */

@import "minima";

a {
  text-decoration: underline;
  color: rgb(56, 76, 255);
}

a:visited {
  color: #5d2ba6;
}

body {
  min-height: 0;
}

.site-header {
  border-bottom: none;
  padding-top: 25px;
  min-height: 25px;
}

.site-footer {
  border-top: none;
  padding: 0;
}

.footer-col-wrapper {
  border-top: 3px solid #f3f4fa;
  margin-top: 30px;
  padding: 20px 0;
  font-size: 14px;
  color: #a3a3a3;
}

.footer-col-wrapper a {
  color: #a3a3a3;
}

.footer-col-wrapper a:hover {
  color: #828282;
}

.title a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(56, 76, 255);
}

.title a.extra {
  margin-left: 15px;
  color: rgb(176, 177, 181);
}

.title a:hover {
  color: black;
}

.post-title {
  letter-spacing: 0;
}

blockquote {
  font-size: $base-font-size;
  letter-spacing: 0;
  font-style: normal;
}

/* 
Image captions
as described in https://stackoverflow.com/a/30366422
*/
img + em {
  display: block;
  font-size: smaller;
  font-style: normal;
  color: #666;
}
