---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <h2>About</h2>

    <div style="margin-bottom: 20px;">
        <img src="/images/arjun.jpg" width="250" alt="Arjun Attam" />
    </div>
    
    <div>{{ content }}</div>

    {%- if site.posts.size > 0 -%}
    <h2 style="margin-top: 45px;">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">

        {%- for post in site.posts -%}
        <li style="margin-bottom: 0">
            {%- assign date_format = site.minima.date_format | default: "%b %d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <span>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </span>

            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}

    </ul>
    {%- endif -%}

</div>