---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <h2>About</h2>
    <div>
        <p>
            Hey there—my name is Arjun, and this is my personal website.
        </p>
        <p>
            I work on developer tools and services at Microsoft. I'm specifically interested
            in how developers collaborate over code: with teams growing remote, improving developer
            collaboration has a disproportionate impact on the world.
        </p>
        <p>
            Find me on <a href="https://www.twitter.com/arjunattam">@arjunattam</a>.
        </p>
    </div>

    {%- if site.posts.size > 0 -%}
    <h2 style="margin-top: 45px;">{{ page.list_title | default: "Blog posts" }}</h2>
    <ul class="post-list">

        {%- for post in site.posts -%}
        <li style="margin-bottom: 0">
            {%- assign date_format = site.minima.date_format | default: "%b %d, %Y" -%}
            <span class="post-meta"
                style="font-family: Monaco, monospace; font-size: 80%;">{{ post.date | date: date_format }}</span>
            &raquo;
            <span>
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </span>

            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}

    </ul>
    {%- endif -%}

</div>