<header>
  <div>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
    {# <span>{{ metadata.description }}</span> #}
  </div>
  <div>
    <nav>
      <ul>
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title | lower }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
</header>