---
layout: layouts/base.njk
---
<div class="page">
  <header>
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    <!-- <span>{{ metadata.description }}</span> -->
    <nav>
      <ul>
      {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title | lower }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </header>
  
  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <article class="content">
      {{ content | safe }}
    </article>
  </main>
</div>