---
layout: layouts/base.njk
---
<main>
  <article>

    <h1>{{ title }}</h1>

    {% if date %}
    <div class="postdate fade">{{ date | readableDate }}</div>
    {% endif %}

    {{ content | safe }}

    <p><a href="{{ '/' | url }}">← Home</a></p>
  </article>
</main>

