---
layout: layouts/base.njk
---

{% include "layouts/header.njk" %}

<main>
  <article>

    <div class="post-title">
      <h1>{{ title }}</h1>

      {% if date %}
      <div class="postlist-date fade">{{ date | readableDate }}</div>
      {% endif %}
    </div>

    {{ content | safe }}

    <p><a href="{{ '/' | url }}">← Home</a></p>
  </article>
</main>

{% include "layouts/footer.njk" %}