{% include "layouts/header.njk" %}

<main>
  <article>

    <div class="post-title">
      <h1>{{ title }}</h1>

      {% if date %}
      <span class="postlist-date fade">{{ date | readableDate }}</span>
      {% endif %}
      {% if tags %}
      <span class="posttag-list">
        {% for tag in tags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          {% if tag != "posts" %}
            <span class="posttag"><a href="{{ tagUrl | url }}">{{ tag }}</a></span>
          {% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </div>

    {{ content | safe }}

    <div class="post-footer">
      <div><a href="{{ '/' | url }}">← Home</a></div>
      <div><a href="http://twitter.com/arjunattam">Follow me on Twitter ↗</a></div>
    </div>
  </article>
</main>

{% include "layouts/footer.njk" %}