---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
{% if date %}
<div class="postdate">{{ date | readableDate }}</div>
{% endif %}

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
